/* colors */
$white: #ffffff;
$gray: #ededed;
$light-red: #fe0101;

/* text size */
$text-primary-size: 18px;
$text-secondary-size: 14px;

$title-primary-size: 35px;
$title-secondary-size: 28px;

$subtitle-primary-size: 20px;
$subtitle-secondary-size: 18px;

$btn-text-primary-size: 30px;
$btn-text-secondary-size: 25px;

/* text weight*/
$text-regular-weight: 400;
$text-medium-weight: 500;
$text-semi-bold-weight: 600;
$text-bold-weight: 700;